body {
  /* background-color: pink; */
    color: #333;
    font-family: Verdana,  sans-serif;
    display: inline-block;
    margin: 0;
    list-style: none;

   }
   
   header {
     background-color: #efefef;
     /* background-color: tomato; */
     
     margin-left: auto;
     margin-right: auto;
     align-items: center;
     padding-bottom: 30px;
   }
   .footer-text{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
   }

   footer {
    padding: 64px 0;
    margin-top: 20px;
    background: rgba(0, 0, 0, .8);
    color: #98969c;
    text-align: center;
  }
   
   
   .container1 {
       /* background-color:green; */
       width: 400px;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       align-items: center;
   }
   
   .icon img {
       border-radius: 40%;
       border-width: 4px;
       border-style: solid;
       border-color: white;
   }
   
   .info {
       /* background-color: tomato; */
       margin-left: 32px;
   }
   
   .info h1 {
       font-weight: normal;
       font-size: 24px;
       margin: 0;
   }
   .info p {
       margin: 0;
       margin-bottom: 16px;
   }
   /* .info ul {
       margin: 0;
       padding: 0;
       list-style: none;
       display: flex;
   }
   .info ul li {
       margin-right: 8px;
   }
    */

   


.carousel {
    width: 80%;
    max-width: 60%;
    margin: 16px auto;
  }
  
  .container {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
  }
  
  li {
    height: 100%;
    min-width: 100%;
  }
  
  li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 34px;
    padding: 0 8px 4px;
    cursor: pointer;
  }
  
  #prev:hover,
  #next:hover {
    opacity: .8;
  }
  
  #prev {
    left: 0;
  }
  
  #next {
    right: 0;
  }
  
  .hidden {
    display: none;
  }
  
  nav {
    margin-top: 36px;
    text-align: center;
  }
  
  nav button + button {
    margin-left: 8px;
  }
  
  nav button {
    border: none;
    width: 26px;
    height: 26px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 18px;
  }
  
  nav .current {
    background: #999;
  }

   
  /* 吹き出し */

  .fukidasi-container {
    padding: 32px;
    
  }
  
  .messages {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  .messages li {
    display: flex;
  }
  /* .messages li + li {
    margin-top: 32px;
  } */
  
  li.right-side {
    flex-direction: row-reverse;
  }
  
  .pic {
    /* background: pink; */
    width: 80px;
    text-align: center;
  }
  
  .pic img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
  }
  
  .text {
    background:#efefef ;
    border-radius: 8px;
    padding: 16px 24px;
    max-width: 60%;
    line-height: 1.8;
    position: relative;
  }
  
  .text::before {
    content: '';
    width: 0;
    height: 0;
    /* border: 8px solid #fff; */
    border: 8px solid transparent;
    position: absolute;
  }
  
  
  
  .right-side .text::before {
    top: 22px;
    right: -16px;
    border-left-color: #efefef;
  }

/* オーディオタグがあるあたり */
.works> figure  {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



/* トップページ最初の見出し画像 */
.works-top {
    width: 200px;
    margin-left: auto;
    margin-right: auto;  
}
.works-top > h1 {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 30px;
}
.works-top> section  {
  margin-bottom: 60px;
}

/* トップページ次の見出し画像 */
.works-top-a {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.works-top-a > h1 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 30px;
}
.works-top-a> section  {
margin-bottom: 60px;
}


.works {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.works img{
    margin-bottom: 20px;
}
.works > h1 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 0px;
}

  .works> section  {
    margin-bottom: 60px;
}
 


