body {
    /* background-color: pink; */
      align-items: center;
      color: #333;
      font-family: Verdana,  sans-serif;
      margin: 0;
      list-style: none;
      /* display: inline-block;*/
     }
     
     header {
       background-color: #efefef;
       /* background-color: tomato; */
       
       margin-left: auto;
       margin-right: auto;
       align-items: center;
       padding-top: 32px;
       padding-bottom: 30px;
     }
     
     
     .container1 {
       /* background-color:green; */
       width: 400px;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       align-items: center;
       
      }
      
      .icon img {
        border-radius: 40%;
        border-width: 4px;
        border-style: solid;
        border-color: white;
      }
      
      .info {
        /* background-color:blue; */
        margin-left: 32px;
      }
     
      .info h1 {
         font-weight: normal;
         font-size: 24px;
         margin: 0;
        }
        .info p {
          /* background-color:blue; */
          margin: 0;
          margin-bottom: 14px;
        }
        
        footer {
         padding: 64px 0;
         margin-top: 20px;
         background: rgba(0, 0, 0, .8);
         color: #98969c;
         text-align: center;
       }
        
        
        /* 画像を反転させる */

/* .container2 {
  background-color:palegoldenrod;
  display: block;
} */

.works-move{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
} 

.works-move > h1 {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  user-select: none;
}

.works-move  img {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  user-select: none;
  /* display: inline-block; */
 }


/* オーディオボタン */
input[type="button"] {
 
  cursor: pointer;
  user-select: none;
  
}



  /* 動くスタイル   */
    .circle1 {
        margin-left: auto;
         margin-right: auto;
        transform: scale(-1,1);
        transition-duration: 1s;
        user-select: none;
    } 
    
    .circle2 {
         margin-left: auto;
         margin-right: auto;
         transform: scale(1,-1);
         transition-duration: 2s;
         user-select: none;
         cursor: pointer;
        
        }
    
    .circle3 {
         margin-left: auto;
         margin-right: auto;
         transform: scale(1,-1);
         transition-duration: 3s;
         user-select: none;
         cursor: pointer;

        /* transform: translateX(100px);
        transition-duration: 1s;
        transform: rotate(-180deg);
        cursor: pointer;
        user-select: none; */
    }
/* 吹き出し */
.fukidasi-container {
  padding: 32px;
}

.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages li {
  display: flex;
}

.messages li + li {
  margin-top: 32px;
}

li.right-side {
  flex-direction: row-reverse;
}

.pic {
  /* background: pink; */
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: rgb(235, 240, 245);
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  /* border: 8px solid #fff; */
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before {
  top: 12px;
  left: -16px;
  border-right-color: rgb(235, 240, 245);
}

.right-side .text::before {
  top: 12px;
  right: -16px;
  border-left-color:rgb(235, 240, 245);
}
  
   
    /* つづきを読む */ 
    .next-button {
      
      text-align: center;
      margin-top: 60px;
      
    }
    
    .next-button > a {
      text-decoration: none; 
      cursor: pointer;
    }  
    
    
   .works{
       text-align: center;
       margin-left: auto;
       margin-right: auto;
    } 
      
    .works > h1 {
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    /* .works  img {
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      } */
    