body {
    /* background-color: pink; */
    align-items: center;
      color: #333;
      font-family: Verdana,  sans-serif;
      margin: 0;
      list-style: none;
      /* display: inline-block;*/
     }
     
     header {
       background-color: #efefef;
       /* background-color: tomato; */
       
       margin-left: auto;
       margin-right: auto;
       align-items: center;
       padding-top: 32px;
       padding-bottom: 30px;
     }

     footer {
      padding: 64px 0;
      margin-top: 20px;
      background: rgba(0, 0, 0, .8);
      color: #98969c;
      text-align: center;
    }
     
     
    .container1 {
      /* background-color:green; */
         width: 400px;
         margin-left: auto;
         margin-right: auto;
         display: flex;
         align-items: center;
         
        }
        
        .icon img {
          border-radius: 40%;
          border-width: 4px;
          border-style: solid;
          border-color: white;
     }
     
     .info {
       /* background-color:blue; */
       margin-left: 32px;
      }
      
     .info h1 {
       font-weight: normal;
       font-size: 24px;
       margin: 0;
      }
      .info p {
        margin: 0;
        margin-bottom: 14px;
     }
     
     
     /* 画像を反転させる */

    .container2 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      user-select: none;
      }





     .works-move{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      user-select: none;
    }  

    
    .works-move  img {
      cursor: pointer;
      user-select: none;
     }


 


/* 動くスタイル   */
     .circle1 {
        margin-left: auto;
        margin-right: auto;
        transform: scale(-1,1);
        transition-duration: 1s;
        user-select: none;
      } 
    
      .circle2 {
        transform: scale(1,-1);
        transition-duration: 2s;
        user-select: none;
        
      }
      
      .circle3 {
        margin-left: auto;
        margin-right: auto;
        transform: scale(-1,1);
        transition-duration: 1s;
        user-select: none;
      }
      
      /* 吹き出し */
      .fukidasi-container {
        padding: 32px;
      }
      
      .messages {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .messages li {
  display: flex;
}

.messages li + li {
  margin-top: 32px;
}
li.right-side {
flex-direction: row-reverse;
}

.pic {
  /* background: pink; */
  width: 80px;
  text-align: center;
}

.pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.text {
  background: rgb(235, 240, 245);
  border-radius: 8px;
  padding: 16px 24px;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}

.text::before {
  content: '';
  width: 0;
  height: 0;
  /* border: 8px solid #fff; */
  border: 8px solid transparent;
  position: absolute;
}

.left-side .text::before {
  top: 12px;
  left: -16px;
  border-right-color: rgb(235, 240, 245);
}

.right-side .text::before {
  top: 12px;
  right: -16px;
  border-left-color:rgb(235, 240, 245);
}



/* つづきを読むリンク */
.next-button {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}

.next-button > a {
  text-decoration: none; 
}  



.works {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* cursor: pointer; */
  }
 .works > h1 {
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0px;
      }
      
      
/* .works> section  {
        margin-bottom: 60px;
      }
      
.scoreimage {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      
    } */
    /* オーディオボタン input要素のうちtype属性値がbuttonのものに対して装飾 */
input[type="button"] {
 
    cursor: pointer;
  
    }